:root {
    font-family: FuturaBookC;
    --general-white: #fff;
    --general-yellow: #E3B873;
    --general-black: #959595;
    --background-black: #252525;
}

/* GENERAL */
.wrapper-main {
    width: 375px;
    margin: 0 auto;
    background: var(--background-black);
}

.content {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 93%;    
}

h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 132.83%;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: FuturaDemiC;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--general-white);
    height: 46px;

}

.logo {
    color: var(--general-yellow);
}

.phone {

}

/* SECTION PROMO */

.promo {
    background-image: url(../img/Rectangle\ 3.7.png),
                      url(../img/image\ 4.7.jpg);
    height: 476px;
}

.promo-title {
    text-transform: uppercase;
    color: var(--general-white);
}

h1 span {
    color: var(--general-yellow);
}

.promo h1 {
    padding-top: 85px;
}

.promo-text {
    color: var(--general-white);
    font-size: 18px;
    line-height: 135.84%;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 51px;
    background-color: var(--general-yellow);
    color: var(--general-white);
    text-transform: uppercase;
}

.button-transparent {
    background-color: transparent;
}

/* PROJECT */
.project-title {
    padding-top: 36px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: var(--general-yellow);
}

.project-text {
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
    color: var(--general-white);
}

.project-photo {
    display: block;
    margin: 18px auto;
}

.project-data {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.project-data-title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 138.6%;
    text-transform: uppercase;
    color: var(--general-yellow);
}

.project-data-text {
    font-size: 14px;
    line-height: 135.84%;
    color: var(--general-white);
}

/* CONTROL */
.control {
    color: var(--general-white);
}

.control img {
    display: block;
    margin: 25px auto;
}

.control-image {
    position: relative;
    z-index: 8;
}

.control-play {
    position: relative;
    z-index: 5;
}

.control-text {
    font-size: 14px;
    line-height: 169.8%;
    text-align: center;
}

.control-item {
    margin-top: 40px;
}

.input {
    border: none;
    border-bottom: 2px solid var(--general-white);
    width: 100%;
    background-color: var(--background-black);
}

/* REPAIR */
.repair {
    background-color: var(--general-white);
}

.repair img {
    display: block;
    margin: 0 auto;
}

.repair-items {
    display: flex;
    flex-direction: column;
}

.repair-item-1 {
    background-image: url(../img/Repair1.png);
}

.repair-item-2 {
    background-image: url(../img/Repair2.png);
}

.repair-item-3 {
    background-image: url(../img/Repair3.jpg);
}

.repair-item {
    display: block;
    height: 365px;
    background-repeat: no-repeat;
}